<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/css/style.css" />
    <title>Портфолио</title>
  </head>
  <body>
    <header class="header">
      <nav class="header__nav main-nav">
        <ul class="main-nav__list main-list">
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#home">Главная</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#about">О себе</a>
          </li>
          <li class="main-list__item list-item">
            <a class="list-item__link" href="#skills">Мои навыки</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="main">
      <!-- Секция превью -->
      <section class="main__home home" id="home">
        <h1 class="home__title">Ярик</h1>
        <p class="home__subtitle">WEB-DEVELOPER, PYTHON PROGRAMMER</p>
      </section>
      <!-- Секция с рассказом о себе -->
      <section class="main__about about" id="about">
        <h2 class="about__title">О СЕБЕ</h2>
        <div class="about__info info-block">
          <p class="info-block__text">
            Информация обо мне Информация обо мне Информация обо мне Информация обо мне Информация обо мне
          </p>
          <img
            class="info-block__img"
            src="../static/img/profile.png"
            alt="me"
            width="250"
            height="250"
          />
        </div>
      </section>
      <!-- Секция со скиллами -->
      <section class="main__skills skills" id="skills">
        <h2 class="skills__title">МОИ НАВЫКИ</h2>
        <form action="/" method="POST">
          <ul class="skills__list skills-list">
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/python.png"
                alt="python"
                width="150"
                height="150"
              />
              <span class="skill__info">Мои проекты</span>
              <input class="skill__button" type="submit" name="button_python" value="Смотреть проекты">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/82/Telegram_logo.svg/800px-Telegram_logo.svg.png"
                alt="Telegram"
                width="150"
                height="150"
              />
              <span class="skill__info">Мои проекты</span>
              <input class="skill__button" type="submit" name="button_tg" value="Смотреть проекты">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/html.png"
                alt="html"
                width="150"
                height="150"
              />
              <span class="skill__info">Мои проекты</span>
              <input class="skill__button" type="submit" name="button_html"  value="Смотреть проекты">
            </li>
            <li class="skills-list__skill skill">
              <img
                class="skill__img"
                src="../static/img/db.webp"
                alt="SQL"
                width="150"
                height="150"
              />
              <span class="skill__info">Мои проекты</span>
              <input class="skill__button" type="submit" name="button_db" value="Смотреть проекты">
            </li>
          </ul>
        </form>
        {% if button_python%}
          <div class="skills__project project" id="project">
              <img class="project__img" src="https://hub.kodland.org/_nuxt/img/pygame.6ec5058.png" alt="project" width="500">
              <a class="project__link" href="https://hub.kodland.org/project/298396">Открыть на Hub</a>
          </div>
        {% endif %}
        
      </section>
        {% if button_tg%}
          <div class="skills__project project" id="project">
              <img id="tg" class="project__img" src="https://yemorkovin.ru/storage/posts/August2023/EOUlBzRXcYJJbulOUQLt.png" alt="project" width="500">
              <a class="project__link" href="https://t.me/ProstoMypervi_bot">Открыть в Telegram</a>
          </div>
        {% endif %}
        {% if button_html%}
          <div class="skills__project project" id="project">
              <img id="tg" class="project__img" src="../static/img/back.jpg" alt="project" width="500">
              <a class="project__link" href="https://github.com/Yarik1010-by/kalkylator.git">Открыть в GitHub</a>
          </div>
        {% endif %}
        {% if button_db%}
          <div class="skills__project project" id="project">
              <img id="tg" class="project__img" src="../static/img/logo.svg" alt="project" width="250">
              <a class="project__link" href="https://yaroslavgg.pythonanywhere.com/">Открыть в Браузере</a>
          </div>
        {% endif %}button_db
      <!-- Секция с формой обратной связи -->
      <section class="main__feedback feedback" id="feedback">
        <h2 class="feedback__title">ОТЗЫВЫ</h2>
        <form action="" method="POST" class="feedback__form form">
          <label for="email">
            <input type="email" class="form__input" name="email" id="email" placeholder="Введите E-mail" required>
          </label>
          <label for="text">
            <textarea name="text" class="form__input" id="text" cols="70" rows="10" required placeholder="Комментарий"></textarea>
          </label>
          <button class="form__button" type="submit">ОТПРАВИТЬ</button>
        </form>
      </section>
    </main>
    <!-- Подвал для ссылок на соц-сети -->
    <footer>
      <div></div>
    </footer>
  </body>
</html>
